.itemContainer {
  /* border-right: 2px solid whitesmoke; */
  width: 33vw;
  display: flex;
  justify-content: center;
  position: relative;
}
.item {
  position: fixed;
  top: 5vh;
  color: rgba(0, 0, 0, 0.8);
}

/* .itemImageBG {
  opacity: 0.1;
  position: absolute;
  width: 33.5vw;
  height: 100vh;
  top: -5vh;
  left: -5vw;
  margin: 0;
  padding: 0;
  object-fit: cover;
} */
.itemImage {
  width: 250px;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.itemName {
  margin-bottom: 20px;
}
.itemPrice {
  margin: 25px 0;
  font-size: 25px;
  color: aquamarine;
}

.itemDes {
  margin-top: 25px;
  font-size: 18px;
  font-family: "El Messiri", sans-serif;
}

.itemButton {
  appearance: button;
  background-color: #ffbe59;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #302f2d;
  cursor: pointer;
  display: inline-block;
  font-family: "El Messiri", sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 90%;
  margin: 12px 0;
  font-family: "" El Messiri "", sans-serif;
}

.itemButton:after {
  background-clip: padding-box;
  background-color: #fdcc8b;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.itemButton:main,
.itemButton:focus {
  user-select: auto;
}

.itemButton:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.itemButton:disabled {
  cursor: auto;
}

@media screen and (max-width: 1000px) {
  .itemImage {
    width: 100px;
    height: auto;
  }
  .itemName {
  }
}
