.no {
  background: #972b4f;
  color: #fdc071;
  padding: 10px;
  margin-right: 4px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}

.no:hover {
  background-color: #b5496d;
}

.yes {
  background: #ffbe59;
  color: #972b4f;
  padding: 10px;
  margin-left: 4px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 800;
  font-family: "El Messiri", "sans-serif";
}

.yes:hover {
  background-color: #fdca86;
}

/* @import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap"); */

.fatorah-p {
  font-family: "Source Code Pro", "Silkscreen", cursive;
  font-size: 0.7rem;
  height: 90vh;
  padding: 12px 6px;
  text-align: center;
  padding: 10px;
  color: #000;
}
.com_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.under_line {
  content: "";
  width: 50%;
  height: 1px;
  background-color: #000;
}

.g1 {
  margin-top: 15px;
}

.clientDataContainer-p {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 15px;
  width: 100%;
}

.L1-p {
  display: flex;
  justify-content: flex-start;
  text-align: start;
  margin-top: 5px;
}

.L1-p p,
.L1-p h4 {
  flex: 1;
  font-size: 0.9em;
}

p {
  font-size: 12px;
}

.paymentDataContainer-p {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.paymentData-p {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
}

.paymentData-p .L1-p {
  display: flex;
  text-align: center;
  margin-top: 0;
}

.paymentData-p .L1-p h4,
.paymentData-p .L1-p p {
  border: 1px dotted gray;
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fatorah-p hr {
  height: 0.5px;
  background-color: #000;
  border: none;
}

.casher-p {
  font-size: 9px;
}
.date-p {
  margin-top: 25px;
}

.tableContainer {
  display: flex;
  justify-content: space-around;
}

table,
td,
th {
  margin: 0 13px;
  border: 0.5px dashed rgb(32, 32, 32);
}

table {
  border-collapse: collapse;
}

.itemButton1 {
  appearance: button;
  background-color: #e8a6f8;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 50%;
  margin: 12px 0;
  color: rgb(27, 3, 105);
  margin-right: 15px;
}

.paid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.p-5-p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}
